{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block header_navigation_links %}
{% endblock %}
{% block main %}
    <h1>Editar obras</h1>

    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <table style="width:100%">
        <tr>
            <th>Obra</th>
            <th>Estado</th>
            <th>Empleados</th>
            <th>Acciones</th>
        </tr>

        {% for site in sites %}
            <tr>
                <td>{{ site.name }}</td>
                <td>{% if site.active %} Activa {% else %} Completada {% endif %}</td>
                <td>
                    {% for employee in site.employees %}
                        {{ employee.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ url('admin_edit_site', {'site_id':site.id}) }}">Editar</a>
                    <br>
                    <a href="{{ url('admin_site_tickets', {'site_id':site.id}) }}">Ver albaranes</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    <h2>Crear nueva obra</h2>
    <div class="col-sm-2  col-md-offset-18">
        {{ form_start(site_form) }}
        {{ form_end(site_form) }}
    </div>

{% endblock %}