{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    {% for site in sites %}
        <h2>Albaranes de {{ site }}</h2>
        <table style="width:100%" id="{{ site ~'_table' }}">

            <tr>
                <th>Obra</th>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Máquina</th>
                <th>Material</th>
                <th>Numero viajes</th>
                <th>Toneladas</th>
                <th>Portes</th>
                <th>Horas</th>
                <th>Horas martillo</th>
                <th>Albarán</th>

            </tr>

            {% for ticket in  tickets[site] %}
                <tr>
                    <td>{{ ticket.site.name }}</td>
                    <td>{{ ticket.employee.name }}</td>
                    <td>{{ ticket.date | date('Y-m-d') }}</td>
                    <td>{{ ticket.machine.name }}</td>
                    <td>{{ ticket.material.name }}</td>
                    <td>{{ ticket.numTravels }}</td>
                    <td>{{ ticket.tons }}</td>
                    <td>{{ ticket.portages }}</td>
                    <td>{{ ticket.hours }}</td>
                    <td>{{ ticket.hammerHours }}</td>
                    <td><a target="_blank" href="{{ path('admin_view_document', {'document_id': ticket.document.id}) }}">Ver</a></td>
                </tr>
            {% endfor %}
        </table>
        <a class="export_table" js_site="{{ site ~'_table' }}">Exportar a CSV</a>
    {% endfor %}


{% endblock %}