{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Editar ticket</h1>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <table style="width:100%">

        <tr>
            <th>Obra</th>
            <th>Empleado</th>
            <th>Fecha</th>
            <th>Horas</th>
            <th>Numero viajes</th>
            <th>Material</th>

        </tr>

        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.site.name }}</td>
                <td>{{ ticket.employee.name }}</td>
                <td>{{ ticket.date | date('Y-m-d') }}</td>
                <td>{{ ticket.hours }}</td>
                <td>{{ ticket.numTravels }}</td>
                <td>{{ ticket.material.name }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}