{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    {% for site in sites %}
        <h2>Albaranes de {{ site }}</h2>
        <table style="width:100%" id="{{ site ~'_table' }}">

            <tr>
                <th>Tipo</th>
                <th>Obra</th>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Máquina</th>
                <th>Material</th>
                <th>Numero viajes</th>
                <th>Toneladas</th>
                <th>Portes</th>
                <th>Horas</th>
                <th>Horas martillo</th>
                <th>Origen/destino</th>
                <th>Comentarios</th>
                <th>Albarán</th>

            </tr>

            {% for ticket in  tickets[site] %}
                <tr>
                    <td>{{ ticket.type }}</td>
                    <td>{{ ticket.site.name }}</td>
                    <td>{{ ticket.employee.name }}</td>
                    <td>{{ ticket.date | date('Y-m-d') }}</td>
                    <td>{{ ticket.machine.name }}</td>
                    <td>{% if ticket.material is defined %} {{ ticket.material.name }}{% endif %}</td>
                    <td>{% if ticket.numTravels is defined %}{{ ticket.numTravels }}{% endif %}</td>
                    <td>{% if ticket.tons is defined %}{{ ticket.tons }}{% endif %}</td>
                    <td>{% if ticket.portages is defined %}{{ ticket.portages }}{% endif %}</td>
                    <td>{% if ticket.hours is defined %}{{ ticket.hours }}{% endif %}</td>
                    <td>{% if ticket.hammerHours is defined %}{{ ticket.hammerHours }}{% endif %}</td>
                    <td>{% if ticket.provider is defined %}{{ ticket.provider }}{% endif %}</td>
                    <td>{% if ticket.comments is not null %}{{ ticket.comments }}{% endif %}</td>
                    <td><a target="_blank" href="{{ path('admin_view_document', {'document_id': ticket.document.id}) }}">Ver</a></td>
                </tr>
            {% endfor %}
        </table>
        <a class="export_table" js_site="{{ site ~'_table' }}" style="cursor: pointer">Exportar a CSV</a>
    {% endfor %}


{% endblock %}