{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Editar empleados</h1>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <table style="width:100%">

        <tr>
            <th>Nombre</th>
            <th>Obras activas</th>
            <th>Maquinas</th>
        </tr>

        {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>
                    {% for site in employee.sites %}
                        {% if site.isactive %}

                        {{ site.name }},
                        {% endif %}
                    {% endfor %}
                </td>

               <td>
                   {% for machine in employee.machines %}
                       {{ machine.name }} ({{ machine.brand }})

                   {% endfor %}
               </td>
            </tr>
        {% endfor %}
    </table>
    <div class="col-sm-3  col-md-offset-21">
        {{ form_start(employee_form) }}
        {{ form_end(employee_form) }}
    </div>

{% endblock %}