{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>Editar máquinas</h1>

    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>

    <table style="width:100%">
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Matrícula</th>
        </tr>

        {% for machine in machines %}
            <tr>
                <td>{{ machine.name }}</td>
                <td>{{ machine.brand }}</td>
                <td>{{ machine.register }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Crear nueva máquina</h3>
    <div class="col-sm-3 col-md-offset-21">
        {{ form_start(machine_form) }}
        {{ form_end(machine_form) }}
    </div>

{% endblock %}