{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .is-invalid {
            border-color: #dc3545;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
        .is-invalid:focus {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ticket') }}
{% endblock %}

{% block body_id 'useradd_ticket' %}

{% block main %}
    {% if form is not null %}
        {{ form_start(form) }}
        {{ form_end(form) }}

        {% if app.user.isAdmin %}
            <div class="col-sm-6">
                <canvas id="signature-pad" class="signature-pad" style="width: 100%; height: 200px; border:1px solid #000000;"></canvas>
                <button id="save-png">Save as PNG</button>
                <button id="clear">Clear</button>
            </div>
        <br>
            {% else %}
                <canvas id="signature-pad" class="signature-pad" width=400 height=200 style="border:1px solid #000000; visibility: hidden"></canvas>
                <button id="save-png" style="visibility:hidden;">Save as PNG</button>
                <button id="clear" style="visibility:hidden;">Clear</button>
        {% endif %}

        <a href="{{ path('add_ticket') }}">
            Volver
        </a>
    {% else %}
        <div class="col-sm-5 ">
            <div id="tab-index" class="tab ticket-tab">
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="{{ path('add_ticket', {'type': 'machine'}) }}">
                        <i class="fa fa-tools" aria-hidden="true"></i> Excavación -  Máquinas
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg btn-block js-type-select" data-target="tab-truck">
                        <i class="fa fa-truck-moving" aria-hidden="true"></i> Transporte - Camiones
                    </a>
                </p>

                {#            <p>#}
                {#                <a class="btn btn-primary btn-lg btn-block" href="{{ path('add_daily_report') }}">#}
                {#                    <i class="fa fa-clock" aria-hidden="true"></i> Parte horas diario#}
                {#                </a>#}
                {#            </p>#}
            </div>

            <div id="tab-truck" class="tab ticket-tab" hidden>
                {#            <p>#}
                {#                <a class="btn btn-primary btn-lg btn-block" href="{{ path('add_ticket', {'type': 'truck_hours'}) }}">#}
                {#                    <i class="fa fa-clock" aria-hidden="true"></i> Horas#}
                {#                </a>#}
                {#            </p>#}
                <p>
                    <a class="btn btn-primary btn-lg btn-block js-type-select" data-target="tab-material-type">
                        <i class="fa fa-truck-moving" aria-hidden="true"></i> Transporte de material
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="{{ path('add_ticket', {'type': 'truck_port'}) }}">
                        <i class="fa fa-truck-moving" aria-hidden="true"></i> Portes
                    </a>
                </p>
                <a class="js-type-select" data-target="tab-index" style="cursor: pointer">
                    Volver
                </a>
            </div>

            <div id="tab-material-type" class="tab ticket-tab" hidden>
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="{{ path('add_ticket', {'type': 'truck_supply'}) }}">
                        <i class="fa fa-tools" aria-hidden="true"></i> Suministro
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg btn-block" href="{{ path('add_ticket',{'type': 'truck_withdrawal'}) }}">
                        <i class="fa fa-truck-moving" aria-hidden="true"></i> Retirada
                    </a>
                </p>
                <p>
                    <a class="js-type-select" data-target="tab-truck" style="cursor: pointer">
                        Volver
                    </a>
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}

{% endblock %}